# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (keep raw & processed folders but ignore large files)
*.csv
*.xlsx
*.json
*.db
!data/raw/.gitkeep
!data/processed/.gitkeep
!var_cvar_report.csv



# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
