# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data (keep raw & processed folders but ignore large files)
*.csv
*.xlsx
*.json
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
